@font-face {
  font-family: "Chalet Lodon";
  src: url("../fonts/Chalet-LondonNineteenEighty.woff") format('woff');
}

body {
  font-family: "Chalet Lodon", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  padding-top: 70px;
}

h1, h2, h3, h4, h5, h6, .navbar-brand, .brand-name {
  font-family: "Chalet Lodon", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400
}

p.lead {
  font-family: "Chalet Lodon", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400
}

hr.small {
  max-width: 100px;
  margin: 50px auto;
  border-color: rgba(0, 0, 0, .2)
}

.text-yellow {
  color: #f1c40f
}

p.dm-promo-lead {
  margin-bottom: 10px
}

p.dm-promo-deal {
  margin-bottom: 30px
}

.navbar-default {
  background-color: #fff;
  padding: 10px 0;
  border-bottom: none;
  margin-bottom: 0;
}

.navbar-default .navbar-nav > li > a {
  -webkit-transition: all .4s ;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #7BB651;
  background-color: transparent;
  border-top: 3px solid #7BB651;
  padding-top: 11px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #7BB651;
  background-color: transparent;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  padding-top: 12px;
  color: #7BB651;
  background-color: transparent;
}

.navbar-nav > li > .dropdown-menu {
  border-top: 3px solid #7BB651;
  padding-top: 0;
  padding-bottom: 0;
}

.dropdown-menu > li > a {
  border-bottom: 2px solid #7BB651;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #777;
  -webkit-transition: all .4s ;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #7BB651;
  color: #fff;
 }

.preview-thumb {
  margin-bottom: 50px
}

a.search-link {
  font-family: FontAwesome;
  cursor: pointer;
}
a.search-link:after {
  content: '\f002';
}

#slider {
  margin-top: 20px;
}
.bx-wrapper {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #fff;
}

/*product finder*/

.list-group > .list-group-item {
  color: #7BB651;
  border-bottom: 3px solid #7BB651;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 0;
  -webkit-transition: all .4s ;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.list-group > .list-group-item:hover,
.list-group > .list-group-item:focus {
  z-index: 2;
  color: #7BB651;
  background-color: #EEEFEF;
  border-bottom: 3px solid #7BB651;
  border-top: none;
  border-left: none;
  border-right: none;
}

.list-group > .list-group-item.list-group-item-heading {
  background-color: #7BB651;
  color: #fff;
  margin-bottom: 0;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  z-index: 2;
  color: #7BB651;
  background-color: #EEEFEF;
  border-bottom: 3px solid #7BB651;
  border-top: none;
  border-left: none;
  border-right: none;
}
a.product-item:hover {
  text-decoration: none;
}

a.product-item:hover .caption p{
  color:#7BB651;
  -webkit-transition: all .4s ;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}
a.product-item .thumbnail {
  border: none;
}
a.product-item .thumbnail img{
  transition: all .2s ease-in-out;
}
a.product-item .thumbnail img:hover{
  transform: scale(1.1);
}

footer {
  padding: 50px 0;
  background-color: #B4B5B5;
  color: #fff;
}

footer .footer-left, footer .footer-right, footer .footer-below {
  text-align: left
}

@media (min-width: 992px) {
  footer .footer-left {
    text-align: left
  }

  footer .footer-right {
    text-align: right
  }

  footer .footer-below {
    text-align: center
  }
}

.sponsored-ad {
  margin-top: 30px
}

/**logoin**/
form {
  width: 400px;
  margin: 220px auto;
}

form:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#content {
  -webkit-box-shadow: 0 1px 0 #fff inset;
  -moz-box-shadow: 0 1px 0 #fff inset;
  -ms-box-shadow: 0 1px 0 #fff inset;
  -o-box-shadow: 0 1px 0 #fff inset;
  box-shadow: 0 1px 0 #fff inset;
  border: 1px solid #c4c6ca;
  margin: 0 auto;
  padding: 25px 0 0;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  width: 100%;
  background-image: url("../images/6b2cb45f5f87a44551a3cc51a55b88c5.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#content h1 {
  color: #FFF;
  line-height: 20px;
  margin: 10px 0 30px;
}
#content
#content form { margin: 0 20px; position: relative }
#content form input[type="text"],
#content form input[type="password"] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
  -moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
  -ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
  -o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
  box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: transparent url(../images/8bcLQqF.png) no-repeat;
  border: 1px solid #fff;
  color: #fff;
  font: 13px Helvetica, Arial, sans-serif;
  margin: 0 0 10px;
  padding: 15px 10px 15px 40px;
  width: 80%;
}
#content form input[type="text"]:focus,
#content form input[type="password"]:focus {
  -webkit-box-shadow: 0 0 2px #ed1c24 inset;
  -moz-box-shadow: 0 0 2px #ed1c24 inset;
  -ms-box-shadow: 0 0 2px #ed1c24 inset;
  -o-box-shadow: 0 0 2px #ed1c24 inset;
  box-shadow: 0 0 2px #ed1c24 inset;
  background-color: transparent;
  border: 1px solid #ed1c24;
  outline: none;
  color: #fff;
}
#username { background-position: 10px 10px !important }
#password { background-position: 10px -53px !important }
#content form input[type="submit"] {
  background: rgb(254,231,154);
  background: -moz-linear-gradient(top,  rgba(254,231,154,1) 0%, rgba(254,193,81,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
  background: -o-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
  background: -ms-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
  background: linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee79a', endColorstr='#fec151',GradientType=0 );
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
  -ms-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
  -o-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
  box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
  border: 1px solid #D69E31;
  color: #85592e;
  cursor: pointer;
  float: left;
  font: bold 15px Helvetica, Arial, sans-serif;
  height: 35px;
  margin: 20px 0 35px 15px;
  position: relative;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  width: 120px;
}
#content form input[type="submit"]:hover {
  background: rgb(254,193,81);
  background: -moz-linear-gradient(top,  rgba(254,193,81,1) 0%, rgba(254,231,154,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
  background: -o-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
  background: -ms-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
  background: linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec151', endColorstr='#fee79a',GradientType=0 );
}
#content form div a {
  color: #004a80;
  float: right;
  font-size: 12px;
  margin: 30px 15px 0 0;
  text-decoration: underline;
}
